.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.photograph-info h2 {
    font-size: 64px;
    font-weight: 500;
    color: var(--dark-orange);
    margin: 0;
}

.photograph-info h3 {
    font-size: 24px;
    color: var(--dark-burgundy);
}

.photograph-info p {
    font-size: 18px;
    color: var(--dark-gray);
    margin: 0;
}

.photograph-header img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px;
}

.media-section article {
    width: 350px;
}

.media-section article img:not(.heart-icon) {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.media-section article .heart-icon {
    cursor: pointer;
}

.media-section article .media-info {
    color: var(--dark-burgundy);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-info .like .like-count {
    display: flex;
    align-items: center;
}

.like>div {
    display: flex;
}

.heart-icon {
    margin-left: 5px;
}

.price-banner {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 376px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(196, 196, 196, 0.4);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-modal {
    width: 35%;
    display: none;
}

#close-modal {
    margin-top: 10px;
}

.modal {
    max-height: 98vh;
    height: fit-content;
    border-radius: 5px;
    background-color: #DB8876;
    padding: 30px;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
    overflow: scroll;
}

.modal header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 48px;
    margin: 0;
    font-weight: normal;
    color: black;
}

form {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

#lightbox-modal {
    position: relative;
    display: none;
}

#close-lightbox {
    position: absolute;
    right: 0;
    top: 0;
}

.lightbox {
    margin: auto;
    max-width: 80vw;
    max-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lightbox .lightbox-media li {
    width: 80%;
    height: 80%;
}

.lightbox .lightbox-media .media {
    margin: 0 20px;
    max-height: 80vh;
    display: none;
}